*{
  width: 560px;
  height: 447px;
}
.main-block {
  background: #80cdc6;
  border: 1px solid black;
}
.clouds {
  position: absolute;
  left: 225px;
  width: 290px;
  height: 103px;
  background-image: url(../img/clouds.svg);
}
.water {
  position: absolute;
  top: 410px; 
  height: 48px;
  background-image: url(../img/water.svg);
  z-index:2;
 }
.wooden-ship {
  position: absolute;
  top: 315px;
  left: 20px;
  width: 106px;
  height: 107px;
  background-image: url(../img/wooden-ship.svg);
  z-index:1;
}
.world {
  position: absolute;
  top: 110px;
  height: 340px;
  background-image: url(../img/world.svg);
}
