*{
  width: 560px;
  height: 447px;
}
.main-block {
  background: #80cdc6;
  border: 1px solid black;
}
.clouds {
  position: absolute;
  margin: 5px 200px;
  width: 290px;
  height: 103px;
  background-image: url(../img/clouds.svg);
}
.water {
  position: absolute;
  margin: 400px 0px;
  height: 48px;
  background-image: url(../img/water.svg);
  z-index:2;
 }
.wooden-ship {
  position: absolute;
  margin: 300px 12px;
  width: 106px;
  height: 107px;
  background-image: url(../img/wooden-ship.svg);
  z-index:1;
}
.world {
  position: absolute;
  margin: 100px 0px;
  height: 340px;
  background-image: url(../img/world.svg);
}
